// Place all the styles related to the points controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.popup {
  margin: 5px;
  min-height: 360px;
  min-width: 510px;
  max-height: 360px;
  max-width: 510px;
  input {
    width: 400px;
  }
}

.pholder {
  position: absolute;
  color: gray;
  width: 410px;
  height: 32px;
  #def_text {
    margin-top: 5px;
    margin-left: 10px;
  }
}

.pos {
  margin-left: 400px;
}

.address {
  width: 370px;
}

.coordinates {
  float: right;
  margin-right: 16px;
}

.controls {
  margin-top: 20px;
}

.tagedit-list {
  width: 486px;
}

#infowindow {
  //border: 1px solid red;
  height: 300px;
  width: 500px;
  #activities {
    width: 495px;
    height: 150px;
    border: 1px solid #C6C6C6;
    table {
      width: 100%;
      tr.activity {
        td.log {
          background-color: #add8e6;
          .login {
            width: 130px;
            font-size: 12px;
            font-weight: bold;
            .date {
              font-size: 10px;
              font-weight: normal;
            }
          }
        }
      }
      td.cnt {
        background-color: #e0ffff;
        .cont {
          margin-left: 10px;
          .tag-cnt {
            //float: left;
            .tag-item {
              background: #dee7f8 url(../img/disc.png) 4px center no-repeat;
              border: 1px solid #cad8f3;
              padding: 2px 5px 2px 13px;
              -moz-border-radius: 8px 4px 4px 8px;
              -webkit-border-radius: 8px 4px 4px 8px;
              border-radius: 8px 4px 4px 8px;
              float: left;
              margin: 2px;
            }
          }
        }
      }
    }
  }
}