// Place all the styles related to the points controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.popup {
  min-height: 350px;
  min-width: 500px; 
  max-height: 350px;
  max-width: 500px;
  input{
    width: 400px;
  }
}

.pholder{
	
  position: absolute;
  color: gray;
  width: 410px;
  height: 32px;
  #def_text{
    margin-top: 5px;
    margin-left: 10px;
  }
}

.pos{
	margin-left: 314px;
}

.address{
	width:370px;
}

.coordinates{
  float: right;
  margin-right: 100px;
}






.controls {
  margin-top: 20px;
}

